# Backup files
*~

# MacOS crap
.DS_Store

# Binary VS files
bin
obj

# Solution User Options
*.suo

# Intellij IDEA
.idea

# We exclude everything from compiler extensions folde, because project-specific extensions must go to the same folder.
# The same folder has files belonging to the compiler that are already to repo and not affected by this ignore.
/parts/incremental-compiler/Assets/Plugins/CompilerExtensions/*
