# Backup files
*~

# MacOS crap
.DS_Store

# Binary VS files
bin
obj

# Solution User Options
*.suo

# Intellij IDEA
.idea

/parts/incremental-compiler/Roslyn/net472/CodeGenerator.FPCSharpUnity.*
/parts/incremental-compiler/Roslyn/net472/FPCSharpUnity.core.macros.*
