# Backup files
*~

# MacOS crap
.DS_Store

# Binary VS files
bin
obj

# Solution User Options
*.suo

# Intellij IDEA
.idea

# We exclude compiled dlls, but keep meta files, because we need specific settings in those meta files.
/parts/incremental-compiler/Assets/Plugins/CompilerExtensions/FPCSharpUnity.core.macros.codegen.dll
/parts/incremental-compiler/Assets/Plugins/CompilerExtensions/FPCSharpUnity.core.macros.codegen.pdb
/parts/incremental-compiler/Assets/Plugins/CompilerExtensions/FPCSharpUnity.core.macros.dll
/parts/incremental-compiler/Assets/Plugins/CompilerExtensions/FPCSharpUnity.core.macros.pdb